h1, h2, h3, h4 {
    font-family: getFont(header), sans-serif;
    font-weight: 600;
}

p {
    font-family: getFont(paragraph);
    font-weight: 400;
}

a {
    font-family: getFont(button);
    text-decoration: none;
    color: getColor(white);
    
}

button {
    margin-top: 15px;
}

button.nav-link {
    color: getColor(white);
}

.navbar-brand {
    font-family: getFont(brand);
    font-weight: 600;
    font-size: 30px;
    color: getColor(white);
}

.nav-item {
    background: getColor(blue);
    font-family: getFont(button);
}